body, h1, h2, p, input, button {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('https://www.shutterstock.com/shutterstock/videos/1088045871/thumb/1.jpg?ip=x480');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        height: 100vh;
        background-position: center;
}

.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
    margin: 20px auto;
    text-align: center;
    padding: 20px;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="text"] {
    width: 70%;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
}

.weather {
    text-align: center;
    padding: 20px;
}

.weather-icon {
    max-width: 500px;
}

.temp {
    font-size: 36px;
    color: #007BFF;
}

.city {
    font-size: 24px;
}

.details {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.col {
    text-align: center;
}

.col img {
    max-width: 50px;
}

.Humidity, .Wind {
    font-size: 20px;
    font-weight: bold;
}

/* Anto the dev */
@media (max-width: 768px) {
    .card {
        width: 90%;
    }
}

